.nav{
   
    height: 2%;
    
}
.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    height: 50%;

}
.logo-img{
height: 70px;
}
.search-icon{
    height: 34px;
    width: 70px;
    margin-left: -5px;
    
}
.search-icon:hover{
    cursor: pointer;
}

.search-input{
    width: 500px;
    height: 25px;
    
    
}
.fa-upload{
    font-size: 25px;
}
.upload:hover{
    cursor: pointer;
}
.sign-in-form{
    background-color: blue;
    color: white;
    height: 34px;
    width: 70px;
    border-radius: 5px;

}
.sign-in-form:hover{
    cursor: pointer;
}
main{
    margin-top:20px;
    margin-bottom:20px;
}

.container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 100%;
    grid-template-rows: auto;
    grid-column-gap: 10px;
}

.left-section{
    display: flex;
    flex-direction: column;
}

.video-section{
    background-color: pink;
    margin-bottom: 5px;
}

.videoname-section{
    background-color: purple;
    margin-bottom: 5px;
}

.description-section{
    background-color: orange;
    margin-bottom: 5px;
}

.comment-section{
    background-color: aqua;
}

.right-section{
    background-color: red;
}

footer{
    background-color: yellow;
}