*{
    margin: 0;
}

body{
    background-color: #D3D3D3;
}

.nav{
    background-color: white;
}

.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    height: 50%;
}
img[src="images/youtube-logo.png"]{
height: 70px;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo:hover{
    cursor: pointer;
}
button{
    
    border: none;
}
input[type="submit"]{
    
    border: none;
}
input[type="submit"]:hover{
    cursor: pointer;
}
button:hover{
    cursor: pointer;
}
.search-icon{
    height: 34px;
    width: 70px;
    margin-left: -4px;
    border:1px solid black;
    
}
.search-icon:hover{
    cursor: pointer;
}

.search-input{
    width: 500px;
    height: 25px;
}
.fa-upload{
    font-size: 25px;
}
.upload:hover{
    cursor: pointer;
}
.sign-in-form{
    background-color: blue;
    color: white;
    height: 34px;
    width: 70px;
    border-radius: 5px;

}
.sign-in-form:hover{
    cursor: pointer;
}
main{
    margin-top:20px;
    margin-bottom:20px;
}

.container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 100%;
    grid-template-rows: auto;
    grid-column-gap: 10px;
}

.left-section{
    display: flex;
    flex-direction: column;
}

.video-section{
    margin-bottom: 10px;
    height: 500px;
}

.videoname-section{
    background-color:white;
    margin-bottom: 5px;
    padding: 10px;
}

.title{
    margin-left: 15px;
    font-weight: lighter;
    margin-top: 10px;
}

.view-flex{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

.views{
    align-self: flex-end;
    margin-right: 15px;
}

.odin-flex{
    margin-left: 15px;
    display: flex;
}

.subscribe{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.subscribe h3{
    font-weight: lighter;
}

.subscribe button{
    background-color: red;
    color: white;
    height: 34px;
    
}

.subscribe form{
    margin-top: 5px;
    display: flex;
}

.subscribe p{
    align-self: center;
    border: 1px solid black;
    padding: 5px;
}

.avatar-img{
    height: 50px;
    width: 50px;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}

.buttons button{
    background-color: white;
    border: none;
}

.buttons button:hover{
    cursor: pointer;
}

.description-section{
    background-color:white;
    margin-bottom: 5px;
    padding: 10px;
}
.description-section p{
    margin-left: 15px;
    margin-bottom: 10px;
}
.description-section h4{
    margin-left: 15px;
}
.show-more{
    margin-top: 5px;
    text-align: center;
}

.comment-section{
    background-color: white;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-section{
    background-color: red;
}

footer{
    background-color: white;
    padding: 10px;
}

.footer-content{
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.footer-content button{
    border: 1px solid black;
    height: 30px;
    margin-left: 10px;
}

.footer-flex1{
    display: flex;
    margin-left: 15px;
}

.footer-flex1 h4{
    margin-top: 10px;
    margin-left: 10px;
}

.footer-flex2{
    display: flex;
    margin-left: 15px;
    margin-bottom: 20px;
}

.footer-flex2 h5{
    margin-top: 10px;
    margin-left: 10px;
}
